.home {
    padding: 2rem;
  
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .carros-lista {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }